mat-form-field {
	width: 100%;
	margin: 0 5px;
}

.mat-dialog-content {
	margin: 0;
	padding: 0 24px;
}

.mat-dialog-actions {
	padding: 12px 24px;
}

h3 {
	margin-top: 16px;
	margin-bottom: 8px;
}

.warning {
	margin: 16px 0;
	padding: 8px;
	border: 1px solid #F44336;
	color: #F44336;
}