<form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center">
	<h2 mat-dialog-title fxLayout="row">
		<span style="position: relative; top: 3px; left: 5px;">User Management - Setup</span>
		<span fxFlex></span>
		<button (click)="close()" tabindex="-1" mat-icon-button>
			<mat-icon>close</mat-icon>
		</button>
	</h2>

	<h3 style="padding-bottom: 0; margin-bottom: 0; margin-top: 16px" class="text-center">
		Authentication method
	</h3>
	<mat-radio-group formControlName="method" fxLayout="column" style="margin-top: 8px">
		<mat-radio-button value="token">Token based authentication (mobile ready)</mat-radio-button>
		<mat-radio-button value="session">Session based authentication</mat-radio-button>
	</mat-radio-group>
	<h3 style="padding-bottom: 0; margin-bottom: 0; margin-top: 16px" class="text-center">
		Enter a key to encrypt user's password
	</h3>

	<div fxLayout="row" style="max-width: 300px; margin: 16px auto 0; padding: 0">
		<mat-form-field flex>
			<input matInput placeholder="Static salt" formControlName="static_salt">
		</mat-form-field>
	</div>

	<h3 style="padding-bottom: 0; margin-bottom: 0; margin-top: 16px" class="text-center">
		<mat-checkbox formControlName="user_profile_enabled">User profile</mat-checkbox>
	</h3>
	<div *ngIf="emailAddons.length > 0; else noEmailAddon" fxLayout="row" style="max-width: 300px; margin: 0 auto; padding: 10px 20px;">
		<mat-form-field fxFlex>
			<mat-select placeholder="Select the user profile entity" formControlName="user_profile_entity">
				<mat-option *ngFor="let e of entities" [value]="e.name">{{ e.name }}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<h3 style="padding-bottom: 0; margin-bottom: 0; margin-top: 16px" class="text-center">
		<mat-checkbox formControlName="email_verification">Emails enabled</mat-checkbox>
	</h3>
	<!-- <p style="text-align: text">
		We can send emails to your users on your behalf:<br>
		- When your users sign-ups<br>
		- When your users lose their passwords<br>
		- When your users change their emails<br>
	</p> -->
	<div *ngIf="emailAddons.length > 0; else noEmailAddon" fxLayout="row" style="max-width: 300px; margin: 0 auto; padding: 10px 20px;">
		<mat-form-field fxFlex>
			<mat-select placeholder="Select your emailing addon" formControlName="email_addon">
				<mat-option *ngFor="let e of emailAddons" [value]="e.package">{{ e.name }}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<ng-template #noEmailAddon>
		<div style="margin: 16px 0; padding: 8px; border: 1px solid #F44336; color: #F44336;">You need
			<strong>Sendgrid</strong> or
			<strong>Mailjet</strong> addon installed
			<br>to send email from your Materia Application</div>
	</ng-template>
	<div>
		<button mat-raised-button color="primary" (click)="finish()">Save</button>
	</div>
</form>