<div fxLayout="column" fxFlex>
	<div *ngIf="me" style="padding: 8px 16px; background-color: #4CAF50">
		Currently connected as {{me.email}} (<a style="text-decoration: underline; cursor: pointer;" (click)="logout()">Logout</a>)
	</div>
	<div fxLayout="row" fxFlex>
		<mat-card fxLayout="column" fxFlex>
			<mat-toolbar fxLayout="row" fxLayoutAlign="start center">
				<mat-icon>people</mat-icon>
				<span>
					Users
				</span>
				<span fxFlex></span>
				<button mat-icon-button (click)="openSignupDialog()" matTooltip="New User" matTooltipPosition="left"> 
					<mat-icon>add</mat-icon>
				</button>
			</mat-toolbar>
			<div *ngIf="users && users.length; else noUser" style="border-top: 1px solid #EEE; overflow-y: auto;" fxLayout="column" fxFlex>
				<div fxLayout="row" fxLayoutAlign="start center" *ngFor="let user of users" style="border-bottom: 1px solid #EEE; cursor: pointer;min-height: 40px">
					<img [src]="'http://www.gravatar.com/avatar/' + user.emailHash + '?d=mm&s=32'" class="avatar" style="margin: 0 8px; width:32px; height:32px;border-radius: 100%" />
					<div style="color: #999; padding-top: 0">{{user.email}}</div>
				</div>
			</div>
			<ng-template #noUser>
				<div fxFlex fxLayout="column" fxLayoutAlign="center center" class="no-users">
					<span>There is no users registered yet</span>
					<div>
						<button mat-raised-button color="primary" [style.margin]="'15px'" [style.color]="'white'">Create a user</button>
					</div>
				</div>
			</ng-template>
		</mat-card>
		<div *ngIf="userSelected" fxFlex>
			
		</div>
	</div>
</div>
<materia-signup-form
	#signupFormTemplate

	(signup)="signup($event)"
	(cancel)="closeSignupDialog()"
></materia-signup-form>