<div fxLayout="row" fxFlex>
	<mat-card fxLayout="column" fxFlex>
		<mat-toolbar fxLayout="row" style="min-height: 52px" fxLayoutAlign="start center">
			<mat-icon>people</mat-icon>
			<span>
				Users
			</span>
			<span fxFlex></span>
			<button mat-icon-button (click)="signup($event)" matTooltip="New User" matTooltipPosition="left"> 
				<mat-icon>add</mat-icon>
			</button>
		</mat-toolbar>
		<div *ngIf="! users || (users && ! users.length)" fxFlex fxLayout="column" fxLayoutAlign="center center" class="no-users">
			<span>There is no users for the moment</span>
			<div>
				<button mat-raised-button [style.background]="'#4CAF50'" [style.margin]="'15px'" [style.color]="'white'">NEW USER</button>
			</div>
		</div>
		<div *ngIf="users && users.length" style="border-top: 1px solid #EEE" fxLayout="column" fxFlex>
			<div fxLayout="row" *ngFor="let user of users" style="border-bottom: 1px solid #EEE; cursor: pointer;min-height: 60px">
				<img [src]="'http://www.gravatar.com/avatar/' + user.email + '?d=mm&s=32'" class="avatar" style="width:32px; height:32px;"
				/>
				<div fxFlex fxLayout="column">
					<div style="font-weight: bold">{{user.name}}</div>
					<div style="color: #999; padding-top: 0">{{user.email}}</div>
				</div>
			</div>
		</div>
	</mat-card>
	<div *ngIf="userSelected" fxFlex>

	</div>
</div>