<div fxLayout="row" fxFlex>
	<mat-card fxLayout="column" fxFlex style="padding: 0;">
		<div fxLayout="row" style="min-height: 52px">
			<h3 style="margin:0; position: relative; top: 2px">
				<mat-icon>people</mat-icon>
				Users
			</h3>
			<span fxFlex></span>
			<button mat-icon-button (click)="signup($event)">
				<mat-icon>add</mat-icon>
			</button>
		</div>
		<div *ngIf="users && users.length" style="border-top: 1px solid #EEE" fxLayout="column" fxFlex>
			<div fxLayout="row" *ngFor="let user of users" style="border-bottom: 1px solid #EEE; cursor: pointer;min-height: 60px">
				<img [src]="'http://www.gravatar.com/avatar/' + user.email + '?d=mm&s=32'" class="avatar" style="width:32px; height:32px;"
				/>
				<div fxFlex fxLayout="column">
					<div style="font-weight: bold">{{user.name}}</div>
					<div style="color: #999; padding-top: 0">{{user.email}}</div>
				</div>
			</div>
		</div>
	</mat-card>
	<div *ngIf="userSelected" fxFlex>

	</div>
</div>