<div ng-controller="UserManagementCtrl" layout="row" layout-padding flex>
    <md-card layout="column" flex style="padding: 0;">
        <div layout="row" style="min-height: 52px" layout-padding>
            <h3 style="margin:0; position: relative; top: 2px">
                <md-icon>people</md-icon>
                Users
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="signup($event)"><md-icon>add</md-icon></md-button>
        </div>
        <md-content ng-if="users && users.length" style="border-top: 1px solid #EEE" layout="column" flex>
            <div layout="row" ng-repeat="user in users" layout-padding style="border-bottom: 1px solid #EEE; cursor: pointer;min-height: 60px">
                <img ng-src="http://www.gravatar.com/avatar/{{user.email|md5}}?d=mm&s=32" class="avatar" style="width:32px; height:32px;" />
                <div flex layout="column">
                    <div style="font-weight: bold">{{user.name}}</div>
                    <div style="color: #999; padding-top: 0">{{user.email}}</div>
                </div>
            </div>
        </md-content>
    </md-card>
    <div ng-if="userSelected" flex>

    </div>
</div>