#usermanagement-modal md-tabs-wrapper {display: none;}
#usermanagement-modal .step {
    margin: 0 15px;
}

#usermanagement-modal textarea {
    overflow: auto;
    height: auto;
    max-height: 200px;
}

#usermanagement-modal .step:first-child {
    margin: 0 15px 0 50px;
}

#usermanagement-modal .step:last-child {
    margin: 0 50px 0 15px;
}

#usermanagement-modal .step:not(.disabled) {
    cursor: pointer;
}

#usermanagement-modal .step.disabled {
    color: #666;
}

#usermanagement-modal .step .badge {
    background-color: #AAA;
    margin-right: 10px;
    width: 8px;
    height: 17px;
    display: inline-block;
    text-align: center;
}

#usermanagement-modal .step .badge md-icon {
    font-size: 13px;
    position: relative;
    top: 2px;
    left: -8px;
    color: white;
}


#usermanagement-modal .step .badge.active {
    background-color: #2196F3;
    color: white;
}

#usermanagement-modal .separator {
    border-bottom:1px solid #AAA;
    position: relative;
    top: 0px;
}

#usermanagement-modal .step.disabled .badge {
    background-color: #DDD;
    color: #999;
}

#usermanagement-modal .step .badge > span {
    padding: 0;
}
#usermanagement-modal li > span {
    cursor: pointer;
}
#usermanagement-modal li > div {
    padding: 10px 20px;
    border-left: 2px solid #2196F3;
    margin-left: 11px;
    margin: 15px 0 15px 11px;
}
#usermanagement-modal li > span:focus {
    outline: none !important;
}